@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom system scrollbar overrides */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A;
}
::-webkit-scrollbar-thumb {
  background: #1F1F1F;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2D2D2D;
}